body {
  font-family: "Inter", sans-serif;
}

.glass {
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.dark .glass {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.glass:hover {
  transform: translateY(-5px);
}
.badge {
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* .badge {
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.05);
} */

.dark .badge {
  background: rgba(255, 255, 255, 0.05);
}

.btn-primary {
  padding: 12px 24px;
  border-radius: 12px;
  background: linear-gradient(to right, #7c3aed, #3b82f6);
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.btn-primary:hover {
  transform: scale(1.05);
}

.btn-outline {
  padding: 12px 24px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.btn-outline:hover {
  background: white;
  color: black;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}
